
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app.js"></script>
<style>
.box{
  width: 332px;
      border: 9px solid #0b1025;
      padding: 55px;
      margin: 410px;
      margin-top: 213px;
}
</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="box">
    <center>  <h3 style="color:#773636;">currency converter</h3></center><br>
    <div>
    <label>Enter amount:</label>
    <input type="text" ng-model="amount" />
</div>
<div>
    Select 'From' currency:
    <select ng-model="myVar">
      <option ng-repeat="fromCurrency in fromCurrencyList" value="{{fromCurrency.code}}">
        {{fromCurrency.code}}
      </option>
    </select>
</div>
<div>
    Select 'To' currency:
    <select ng-model="myVar2">
      <option ng-repeat="toCurrency in toCurrencyList" value="{{toCurrency.code}}">
        {{toCurrency.code}}
      </option>
    </select>
</div>

    <button ng-click="convert()">Convert</button>
    {{output}}


  

</div>
</div>
<div class="col-md-4">
</div>
</div>
</body>

</html>
